extends layout

block title
    div  
        .row.well
            h1 Hello there stranger!
            .col-lg-4.col-sm-12.col-xs-12
                h3 What is LieToMe?
                h5 blavbla
            .col-lg-4.col-sm-12.col-xs-12
                h3 Why is it named LieToME?
                h5 Marin said so...
            .col-lg-4.col-sm-12.col-xs-12
                img(src='/images/black_cat-128.png')