extends layout
block title
    .jumbotron
        table(style='width:100%')
            tr
                td(style='width:50%')
                    h1 LieToMe!
                    p Lie to your friends. 
                td(align='right')
                    button#serverButton(type='button' action='' class='btn btn-default' style="width:70%; height:60%; font-size: 20px") server
                td(align='right')
                    button#clientButton(type='button' class='btn btn-default' style="width:70%; height:60%; font-size: 20px") klijent
    p#demo
    script.
        $('#serverButton').click(function(evt){
            window.location = 'server';
            return;
        });

        $('#clientButton').click(function(evt){
            window.location = 'home';
            return;
        });
        if(parseInt($(document).width()) < 553) {
            document.getElementById('serverButton').style.display = 'none';
            document.getElementById('clientButton').style.display = 'none';
        };