extends layout
block title
    .well
        table(style='width:100%')
            tr
                td(style='width:30%' valign="center")
                    h1(style="margin-top:5px") #{title}
                td(align='center' valign="center")
                    .thumbnail(id='consoleHolder' style="margin-left:50%;margin-bottom:0%; display:none; margin-top:5px" valign="center")
                        p#console
                        table(class="liveLeaderBoard" )
                            tbody(id="leaderBoard" style="display: none")
     
        //show page title from the title object in underlying model
        
        
block content
    .thumbnail(id = 'questionHolder' style="display:none")
        p(class="question")#question
    //this well will hold our conversation of the room
    .thumbnail(id = "answersHolder" style='display: none')
        p#answersList
    .thumbnail(id = "authorsHolder" style='display:none')
        p#authorsList
    .thumbnail(id="finalLeaderBoard" style='display:none')
        p#winner
        table(class='liveLeaderBoard' style='width:20%')
            tbody(id="finalLeaderBoardTable")
    button#lockButton(type='button' action='' class='btn btn-default' style='margin-left:10px') &#x1f512; Zaključaj!
    .input-group(style="position: absolute;left: 39%;display: inline-flex;")
        //button#newQuestion(type='button' action='' class='btn btn-default' style='margin-left:10px; display: none' ) New question
        button#newRound(type='button' class='btn btn-default' style='display: none')
             img(src='/images/glyphicons-366-restart.png' align='left')
             &nbsp;&nbsp;Novi krug

        &nbsp;&nbsp;&nbsp;&nbsp;    
        button#quitGame(type='button' class='btn btn-default' style='display: none') 
            img(src='/images/glyphicons-389-exit.png' align='left')
            &nbsp;&nbsp;Kraj igre

    script(src='/javascripts/websockets.js')
    script(type='text/javascript').
        var roomName = '#{title}'
        var userName = '#{username}'
        
        //connect to the server using the socket.io front-end js library
        io
        //both the room and username is determined from the jade html template
        //send the a message to the 'ready' route with the room and the username
        io.emit('userConnected', { roomName : roomName, username: "root" });